<html>
    <head>
        <div>
            <title>Site do Marquinhos!</title>
        </div>
        
        <div>
            <p>Publicado: 14/02/2019, 13:41</p>
            <h2><a href="">Meu Primeiro post.</a></h2>
            <p>Mercúrio, vênus, Terra, Marte, Júpiter, Saturno, Urano, netuno</p>
        </div>
        <div>
            <p>Publicado: 30/02/2019, 09:41</p>
            <h2><a href=""> Meu Segundo post.</a></h2>
            <p>Reino, Filo, classe, Ordem, Familía, Gênero, espécie</p>
        </div>
    </head>
    <bory>
    <p>Funcionando</p>
    <p>olar!</p>
    </bory>
</html>