<html>
    <head>
        <div>
            <title>Site do Marquinhos!</title>
        </div>
        <div>
            <h1><a href="">Parzival Blog</a></h1>
        </div>
        <div>
            {% for post in posts %}
                 <div>
                     <p>publicado em: {{post.published_date}}</p>
                     <h1><a href="">{{ post.title}}</a></h1>
                     <p>{{post.text|linebreaksbr}}</p>
                 </div>
            {% endfor %}
        </div>
        
        <div>
            <p>Publicado: 14/02/2019, 13:41</p>
            <h2><a href="">Meu Primeiro post.</a></h2>
            <p>Mercúrio, vênus, Terra, Marte, Júpiter, Saturno, Urano, netuno</p>
        </div>
        <div>
            <p>Publicado: 30/02/2019, 09:41</p>
            <h2><a href=""> Meu Segundo post.</a></h2>
            <p>Reino, Filo, classe, Ordem, Familía, Gênero, espécie</p>
        </div>
    </head>
    <bory>
    <p>Funcionando</p>
    <p>olar!</p>
    </bory>
</html>